---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Hi, I'm Daniela, I'm a software engineer and I love to learn new things. Having studied foreign languages for many years, I stumbled upon HTML and
    CSS and have been fascinated by the frontend side of programming ever since, marveling at the enormous creativity this world offers. I like to
    think of the web as a blank canvas, and I'm always excited to craft something new with code. I love the challenge of creating something visually
    appealing and functional that people can interact with and enjoy. I've decided to start this blog as a memento for myself to remember what I've
    learned in my day-to-day coding and to share my knowledge with others. I hope you'll find something useful here!
  </p>
</BaseLayout>
