---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const pageTitle = "About me";
---

<Layout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Hi, I'm Daniela, I'm a software engineer and I love to learn new things. Having studied foreign languages for many years, I stumbled upon HTML and
    CSS and have been fascinated by the frontend side of programming ever since, marveling at the enormous creativity this world offers. I like to
    think of the web as a blank canvas, and I'm always excited to craft something new with code. I love the challenge of creating something visually
    appealing and functional that people can interact with and enjoy. I've decided to start this blog as a memento for myself to remember what I've
    learned in my day-to-day coding and to share my knowledge with others. I hope you'll find something useful here!
  </p>
  <h2>Skills</h2>
  <div class="link-images">
    <img width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" />
    <img width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" />
    <img width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" />
    <img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
    <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
  </div>
  <h2>Interests</h2>
  <p>
    I love RPG videogames (yes, the 100-hour Japanese kind), reading, and cooking plant-based meals. I'm a big fan of the fantasy genre and I'm always
    up for a good movie or TV show, moreso if it is in a cartoon form. I'm a big animal lover and I have two cats named Julie Mao and Coraline, who
    are the cutest thing in the world.
  </p>
</Layout>

<style>
  /* Skill images */
  .link-images {
    margin: 1em;
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 600px) {
    .link-images {
      margin: 1em;

      img {
        height: 30px;
        width: 30px;
        margin: 16px 1px;
      }
    }
  }
</style>
