---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home page";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <h1>Daniela Bonvini</h1>
  <small>Software engineer (Frontend development)</small>
  <h2>Hello there, coders!</h2>
  <p>
    Welcome to my learning blog! Some time ago I found out about the concept of <b><em>learning in public</em></b> but I never really had the chance to
    try it out. That was until recently I heard lots of good things about Astro, and knowing it is perfect to create a blog, I thought it would be a great
    opportunity to get two birds with one stone and both learn about a new cool and create a personal blog on which jot down everything new I come across
    and save it for future reference <em>(mine and others both)</em>.<br />
    As I'm still learning about Astro's features the site will probably change a lot in the next couple of weeks/months, as I will be adding new features
    and trying out new things. So here you go, come with me on this amazing learning journey!
  </p>
  <div class="button">
    <a href="/blog/">
      <button>My blog posts</button>
    </a>
  </div>
</Layout>
<style>
  /* small */
  small {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
  }

  /* Button */
  button {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #78c2ad;
    border-radius: 8px;
    color: #78c2ad;
    font: 600 16px "Josefin Sans", sans-serif;
    padding: 8px 16px;
    transition: background-color 0.4s, color 0.4s;
  }

  button:hover {
    background-color: #78c2ad;
    color: #fdebf3;
    cursor: pointer;
  }

  .button {
    text-align: center;
  }

  /* Skill images */
  .link-images img {
    margin: 16px 4px;
  }

  @media only screen and (max-width: 600px) {
    .link-images img {
      height: 30px;
      width: 30px;
      margin: 16px 1px;
    }
  }
</style>
