---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Talks";
---

<Layout pageTitle={pageTitle}>
  <h2>Talks</h2>
  <dl>
    <dt>We Are Developers LIVE - Angular Day 2023</dt>
    <dd><a href="https://www.youtube.com/watch?v=EcC8rjqt3Dw&t=7402s" target="_blank">Angular Signals: What's all the fuss about?</a></dd>
    <dt>Angular Day 2023</dt>
    <dd><a href="https://www.youtube.com/watch?v=DQrXHmePDeY&t=10s" target="_blank">Angular Signals: What's all the fuss about?</a></dd>
    <dt>CSS Day 2024</dt><dd>
      <a href="https://2024.cssday.it/talks_speakers/#css:-odissea-nello-spazio-3" target="_blank">CSS: odissea nello spazio</a>
    </dd>
  </dl>

  <h2>Articles</h2>
  <ul>
    <li>
      <a href="https://dev.to/sparkfabrik/public-speaking-is-like-eating-chillies-2jlg" target="_blank">Public speaking is like eating chillies</a>
    </li>
    <li><a href="https://dev.to/sparkfabrik/how-not-to-contribute-to-open-source-77k" target="_blank">How (not) to contribute to open source</a></li>
    <li>
      <a href="https://dev.to/sparkfabrik/angular-signals-whats-all-the-fuss-about-3hm5" target="_blank"
        >Angular Signals: what's all the fuss about?</a
      >
    </li>
  </ul>
  <ul></ul>
</Layout>
