---
import Social from "./Social.astro";

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="socials-container">
    <Social platform="GitHub" username="daniela-bonvini" />
    <Social platform="LinkedIn" username="daniela-bonvini" />
    <Social link="https://dev.to/danielabonvini" platform="DEV" />
  </div>
</footer>
<style>
  .footer {
    margin-top: 1rem;
  }
  .socials-container {
    display: flex;
    justify-content: space-evenly;
  }
</style>
