---
import Social from "./Social.astro";

const year = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <Social platform="GitHub" username="daniela-bonvini" />
    <Social platform="LinkedIn" username="daniela-bonvini" />
    <Social link="https://dev.to/danielabonvini" platform="DEV" />
  </div>
</footer>
<style>
  .footer-container {
    display: flex;
    justify-content: space-evenly;
  }
</style>
