---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <div class="title-link">
    <a href="/">Home page</a>
  </div>
  <div class="nav-links">
    <a href="/blog/">Blog</a>
    <a href="/about/">About</a>
    <a href="/tags/">Tags</a>
    <ThemeIcon />
  </div>
</div>
